* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;

}


/* h1{
	line-height: 1;
	text-align: center;
	color: white;
	width: 20%;
	font-size: 3em;
	font-family: 'Signika Negative', sans-serif;
} */

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    margin: 3%;
}

header {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
}

header ul {
    /* margin-left: 5%; */
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    font-family: 'Signika Negative', sans-serif;
}

header ul li a {
    z-index: 9999;
    font-weight: 700;
    color: #2d5582;
    font-size: 1.5em;
    text-transform: uppercase;
    transition: 0.3s;
}

.logo{
	width: 10%;
    height: 135%;
    transform: rotate(45deg);
    background-color: #c3d3e28c;
    margin: 5%;
    margin-top: 12%;
     
}
.logo h2{
    font-family: 'Patrick Hand', cursive;
    transform: rotate(-45deg);
    
    margin-top: 30%;
     
    font-size: 240%;
    color: #2d5582
}
.icons {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1.5em;
    color: #2d5582;
    margin-top: 7%;

}

.icons i {
    margin-left: 5%;
}

.icons i:hover {
    cursor: pointer;

}

header ul li a:hover {
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

section#banner {
    align-items: center;
    height: 720px;
    background-size: 100% 100%;
    background-image: url(finished1.jpg);
}

.center {
    width: 100%;
    height: 620px;

    display: flex;
    text-align: center
}

.center p {
    width: 100%;
    height: auto;
    font-family: 'Patrick Hand', cursive;
    display: flex;

    align-items: center;
    justify-content: center;
    font-size: 350%;
    padding-bottom: 8%;
    color: #2d5582
}

#about-us {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 350px;
    color: #254759;
}

.image {
    width: 50%;
    height: 350px;
    background-size: 100%;
    background-image: url('https://images.pexels.com/photos/259583/pexels-photo-259583.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.description {
    width: 50%;
    text-align: center;
    /* background-image: url('pic.jpg'); */
    background-color: #DDE9EF;

}